@import "tailwindcss";

@theme {
  --color-brand-50: #fdf2f8;
  --color-brand-100: #fce7f3;
  --color-brand-200: #fccee8;
  --color-brand-300: #fda5d5;
  --color-brand-400: #fb64b6;
  --color-brand-500: #f6339a;
  --color-brand-600: #e60076;
  --color-brand-700: #c6005c;
  --color-brand-800: #a3004c;
  --color-brand-900: #861043;
  --color-brand-950: #510424;

  --color-brandBlue-50: #f0f9ff;
  --color-brandBlue-100: #dff2fe;
  --color-brandBlue-200: #b8e6fe;
  --color-brandBlue-300: #74d4ff;
  --color-brandBlue-400: #00bcff;
  --color-brandBlue-500: #00a6f4;
  --color-brandBlue-600: #0084d1;
  --color-brandBlue-700: #0069a8;
  --color-brandBlue-800: #00598a;
  --color-brandBlue-900: #024a70;
  --color-brandBlue-950: #052f4a;
}

@theme {
  --font-molle: 'Molle', cursive;
  --font-tangerine: 'Tangerine';
}

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  /* background-color: #fdf2f8; */
}

